<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
</head>
<body>

  <div class="col-lg-6 text-lg-right pr-lg-4" layout:fragment="content">
    <h1 class="display-1 mb-0">you can delete this role , it 's assigned to users</h1>
    <a href=""></a>
  </div>
 
 
</body>
</html>