body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
}

h2 {
    color: #0d453c;
}

form {
    max-width: 400px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #246bc8;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 80px;
}

input[type="submit"] {
    background-color: gray;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
.sexe{
    display: flex;
}
    nav {
background-color: #333; /* Couleur de fond de la barre de navigation */
padding: 10px;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}

li {
display: inline;
margin-right: 20px;
}

a {
text-decoration: none;
color: #204fb4; /* Couleur du texte des liens */
font-weight: bold;
}
#info{
display: none;
}
#voirinfo {
background-color: #3498db; /* Couleur de fond du bouton */
color: #fff; /* Couleur du texte du bouton */
padding: 10px 20px; /* Rembourrage intÃ©rieur du bouton */
border: none; /* Suppression de la bordure par dÃ©faut */
border-radius: 5px; /* Coins arrondis du bouton */
font-size: 16px; /* Taille de la police du texte */
cursor: pointer; /* Curseur de type main pour indiquer que le bouton est cliquable */
}

#voirinfo:hover {
background-color: #2980b9; /* Changement de couleur de fond au survol */
}
#maListe {${role.getRoleName()}
list-style-type: decimal; /* Utilise des numÃ©ros comme marqueurs */
padding: 10px; /* Ajoute un peu d'espace intÃ©rieur */
}

#maListe li {
margin-bottom: 10px; /* Ajoute un espace entre les Ã©lÃ©ments de la liste */
font-size: 16px; /* Taille de la police */
color: #17ad60; /* Couleur du texte */
}

#maListe li::before {
content: ""; /* Supprime le marqueur par dÃ©faut de la liste */
display: inline-block;
width: 1em; /* Largeur du marqueur (espace rÃ©servÃ© pour les numÃ©ros) */
margin-right: 10px; /* Ajoute un espace entre le marqueur et le texte */
color: #3498db; /* Couleur du marqueur */
font-weight: bold; /* Texte en gras */
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: green;
    color: white;
}

.headers{
    display: flex;
    justify-content: space-between;
}
