<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" th:href="@{vendors/feather/feather.css}">
  <link rel="stylesheet" th:href="@{vendors/ti-icons/css/themify-icons.css}">
  <link rel="stylesheet" th:href="@{vendors/css/vendor.bundle.base.css}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" th:href="@{vendors/datatables.net-bs4/dataTables.bootstrap4.css}">
  <link rel="stylesheet" th:href="@{vendors/ti-icons/css/themify-icons.css}">
  <link rel="stylesheet" type="text/css" th:href="@{js/tables/select.dataTables.min.css}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" th:href="@{css/vertical-layout-light/style.css}">
  <!-- endinject -->
  <link rel="shortcut icon" th:href="@{images/favicon.png}" />
  <link rel="stylesheet" th:href="@{fonts/css/all.min.css}">

</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper" >
      <!-- partial:partials/_settings-panel.html -->

      <span th:replace="fragments/settings-panel :: settings-panel"></span>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav th:replace="fragments/_sidebar :: _sidebar"></nav>
      <!-- partial -->

      <div class="main-panel" layout:fragment="content">

        

      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <footer th:replace="fragments/_footer :: _footer"></footer>
      <!-- partial -->
      </div>

    </div>

  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script th:src="@{vendors/js/vendor.bundle.base.js}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script th:src="@{vendors/chart.js/Chart.min.js}"></script>
  <script th:src="@{vendors/datatables.net/jquery.dataTables.js}"></script>
  <script th:src="@{vendors/datatables.net-bs4/dataTables.bootstrap4.js}"></script>
  <script th:src="@{js/pages/dataTables.select.min.js}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script th:src="@{js/pages/off-canvas.js}"></script>
  <script th:src="@{js/pages/hoverable-collapse.js}"></script>
  <script th:src="@{js/pages/template.js}"></script>
  <script th:src="@{js/pages/settings.js}"></script>
  <script th:src="@{js/pages/todolist.js}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script th:src="@{js/pages/dashboard.js}"></script>
  <script th:src="@{js/pages/Chart.roundedBarCharts.js}"></script>
  <!-- End custom js for this page-->
</body>

</html>